/* Spread top-level bullets over available slide space  */
.slide > ul,
ol {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.slide > pre,
div {
  margin-top: 0.2em !important;
  margin-bottom: 0.2em !important;
}

/* Remove unneeded top-level bullets */
.slide > ul > li {
  list-style-type: none !important;
}

/* Make titles smaller */
.slide > h1 {
  font-size: 2.5rem !important;
}

.slide > h2 {
  font-size: 2rem !important;
}
